<h1>Super Admin Dashboard</h1>

<p>Welcome, {{ request.user.username }}</p>

<h2>Platform Overview</h2>


    <ul>
    <li><a href="{% url 'view_users' %}">Total Users: {{ total_users }}</a></li>
    <li><a href="{% url 'view_admins' %}">Total Admins: {{ total_admins }}</a></li>
    <li>Total Job Roles: {{ total_job_roles }}</li>
</ul>


<h2>Management</h2>

<ul>
    <li>Generate Admin Invite Link</li>
    <li>View / Approve / Reject Admin Requests</li>
    <li>Delete User/Admin Accounts</li>
</ul>

<a href="{% url 'logout' %}">Logout</a>